.page-container {
    margin: 10px;
    width: 90vw;
    height: 90vh;
    border: solid 1px cornflowerblue;
    /*height: auto;*/
    /*border: solid 1px #c0c0c0;
    border-radius: 10px;*/
    display: flex;
    flex-direction: column;
}

.app-container {
    width: 75%;
    height: auto;
    margin-left: 1%;
    display: flex;
    flex-wrap: nowrap;
    /*border: solid 1px red;*/
}

.app-ui {
    width: 75%;
    /*border: solid 1px red;*/
}

.app-controls {
    width: 25%;
    font-size: .75rem;
    color: #a0a0a0;
    align-self: center;
    /*display: inline;*/
}

.rps-radio-set {
    font-size: 2em;
    font-family: 'Nunito';
    color: #515151;
    position: relative;
    width: 124px;
    margin-bottom: 10px;
}

.rps-button {
    font-size: 2em;
    border: 0px;
}

.goButton1 {
    color: blue;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.goButton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-style: none;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.goButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.goButton:focus {
    border-style: none;
    outline: none;
}

.goButton:active {
    background: #3498db ;
}


.content {
    width: 90%;
    height: auto;
    background-color: cornsilk;
    border: solid 1px #c0c0c0;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column-headers {
    width: 90%;
    background-color: #3498db;
    color: #ffffff;
    border-bottom: solid 1px #a0a0a0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial;
    font-size: 1.5rem;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .column-headers {
        font-size: .8rem;
    }
}

#page-title {
    position: relative;
    top: -10px;
    left: 5px;
    padding: 0 3px;
    width: 120px;
    font-family: Arial;
    background-color: white;
    color: cornflowerblue;
}

div[class^="output"] {
    height: 100px;
    width: 200px;
    padding: 20px;
    text-align: center;
    color: #717171;
    font-size: 2.5rem;
    font-family: 'Nunito';
    /*border: solid 1px red;*/

}

div[class^="win"] {
    color: rgb(71, 172, 0);
    position: relative;
    display: none;
}

div[class$="tie"] {
    color: red;
    position: relative;
    display: none;
}
